.aksiyaviev {
  background: #FFFFFF;
  box-shadow: 0px 10px 150px rgb(224 225 236 / 19%);
  border-radius: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  transition: all 0.05s linear;
  cursor: default;
  margin-bottom: 30px;
  text-decoration: none;
}

.aksiyaviev__date {
  margin: 0;
  font-size: 16px;
}

@media screen and (max-width:760px) {
  .aksiyaviev {
    border-radius: 20px;
  }
}

@media screen and (max-width:480px) {
  .aksiyaviev {
    padding: 20px;
  }
}
